@page {
    width: 62mm;
    height: 18mm;
    padding: 4mm;
}

img {
    height: 18mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
}
.label {
    font-family: 'Courier New', Courier, monospace;
    vertical-align: middle;
    display: inline-block;
    font-size: 8px;
}

.extra_info {
    font-size: 8px;
    max-width: 38mm;
}
